.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7ff;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #4e4e6d;
  margin-bottom: 20px;
}

.question {
  font-size: 20px;
  color: #4e4e6d;
  margin-bottom: 20px;
}

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.option-item {
  margin-bottom: 10px;
}

input[type='radio'] {
  margin-right: 10px;
}

label {
  font-size: 16px;
  color: #4e4e6d;
}

.next-button {
  padding: 10px 20px;
  background-color: #ff9cc2;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #ff7497;
}

.results-message {
  font-size: 24px;
  font-weight: bold;
  color: #4e4e6d;
}
